@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Anime>
@{
    ViewBag.Title = "AnimeAdminList";
    Layout = "~/Views/Shared/_AnimeAdminLayout.cshtml";
}

<div class="section-title">
    <h4>Anime Admin List</h4>
</div>
<br />


<table class="table table-bordered" style="color: #ffffff;">
    <tr>
        <th><b>#</b></th>
        <th><b>Adı</b></th>
        <th><b>Resmi</b></th>
        <th><b>Tarihi</b></th>
        <th><b>Türü</b></th>
        <th><b>Bölüm Sayısı</b></th>
        <th><b>Yayıncı</b></th>
        <th><b>Puanı</b></th>
        <th><b>Hakkında</b></th>
        <th><b>Açıklama</b></th>
        <th><b>Bitirdim mi?</b></th>
        <th><b>Statü</b></th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.AnimeID</th>
            <td>@item.AnimeName</td>
            <td>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <img alt="Avatar" class="table-avatar" src="@item.AnimeImage" width="45" height="45">
                        @*<a>@item.AnimeName</a>*@
                    </li>
                </ul>
            </td>
            <td>@item.AnimeDate</td>
            <td>@item.AnimeDemographic</td>
            <td>@item.AnimeEpisode</td>
            <td>@item.AnimeProducers</td>
            <td>@item.AnimeVote</td>
            <td>@item.AnimeAbout</td>
            <td>@item.AnimeText</td>
            <td>@item.AlreadyFinish</td>
            <td>@item.AnimeStatus</td>

        </tr>
    }
</table>

<a href="/Anime/AddAnime" class="btn btn-info">Yeni Anime</a>

<br />
@Html.PagedListPager((IPagedList)Model, page => Url.Action("AnimeAdminListDetay", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link"}
})

